*{
    margin: 0;
    padding: 0;
    font-family: Calibri;/*Debería ser 'Futura'*/
}
/*MENÚ*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 8vh;
    background-color: white;
}

#empresa{
    width: 10%;
    display: flex;
}

h2{
    font-size: large;
    color: rgb(227, 169, 179);
    margin: 4px;
}

#planet{
    color: #379f90;
}

#categorias{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: 600;
    font-size: 15px;
    margin-left: -100px;
}

.categoria{
    display: flex;
    align-items: center;
    position: relative;
    padding: 14px;
    color: #379f90;
    cursor: pointer;
    height: 10vh;
}

.opciones{
    position: absolute;
    top: -1000vh;
    z-index: 99;
    list-style: none;
    width: max-content;
    background-color: white;
    text-align: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#categorias li:hover .opciones{
    top: 70px;
}

.opciones li{
    padding: 10px;
    min-width: 100px;
}

.opciones li:hover{
    background-color: mintcream;
}

.opciones li:last-child:hover{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.flechaAbajo{
    margin-left: 10px;
    transform: rotate(90deg) scaleX(0.8) scaleY(1.3);
    font-weight: bold;

}

.languajeContainer{
    width: 120px;
}

#languaje{
    display: flex;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

#flag{
    width: 40px;
    height: 17px;
}

select{
    background-color: transparent;
    border: none;
    color: white;
    width: 80px;
}

/*MAIN*/
main{
    width: 100%;
    height: 82.5vh;
    overflow: hidden;
    position: relative;
}

#imagenFondo{
    filter: brightness(80%);
    position: fixed;
    width: 100%;
}

section{
    position: absolute;
    display: flex;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.6));
}

.pink{
    background-color: #fca0a1;
    color: white;
}

#izquierda{
    width: 50%;
    padding-top: 60vh;
    padding-left: 50px;
    color: white;
}

.disponible{
    font-size: small;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.skin{
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 19px;
    margin-bottom: 20px;
}

.forMe{
    width: 105px;
    height: 40px;
    text-align: center;
    align-content: center;
    margin-bottom: 1px;
    font-size: 11px;
    letter-spacing: 2px;
}

.club{
    width: 150px;
    height: 45px;
    border-radius: 25px;
    align-items: center;
    margin-left: -25px;
    display: flex;
    justify-content: space-around;
}

#gift{
    width: 18px;
    margin-left: 5px;
}

.club p{
    font-size: 14px;
    margin-left: -15px;
}

#derecha{
    display: flex;
    align-items: end;
    width: 50%;
    height: 82.5vh;
}

.carrusel{
    display: flex;
    color: white;
    list-style: circle;
    margin-left: 87%;
    margin-bottom: 20px;
    font-size: large;
}

.carrusel li{
    width: 15px;
}

.carrusel li:last-child{
    list-style: disc;
}

.mensaje{
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.mensaje img{
    width: 35px;
    height: 35px;
    margin-top: 10px;
}