*{
    margin: 0;
    padding: 0;
    font-family: Calibri;/*Debería ser 'Futura'*/
}
/*MENÚ*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 65px;
    background-color: white;
}

#empresa{
    width: 10%;
    display: flex;
}

h2{
    font-size: large;
    color: rgb(227, 169, 179);
    margin: 4px;
}

#planet{
    color: #379f90;
}

#menuIcon{
    display: none;
}

#categorias{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: 600;
    font-size: 85%;
    margin-left: -100px;
    width: 60%;
}

.categoria{
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 2%;
    color: #379f90;
    cursor: pointer;
    height: 10vh;
}

.categoria div{
    width: max-content;
}

.opciones{
    position: absolute;
    top: -1000vh;
    z-index: 99;
    list-style: none;
    width: max-content;
    background-color: white;
    text-align: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#categorias li:hover .opciones{
    top: 70px;
}

.opciones li{
    padding: 10px;
    min-width: 100px;
}

.opciones li:hover{
    background-color: mintcream;
}

.opciones li:last-child:hover{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.flechaAbajo{
    margin-left: 10px;
    transform: rotate(90deg) scaleX(0.8) scaleY(1.3);
    font-weight: bold;

}

.languajeContainer{
    width: 120px;
}

#languaje{
    display: flex;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

#flag{
    width: 40px;
    height: 17px;
}

select{
    background-color: transparent;
    border: none;
    color: white;
    width: 80px;
}

/*MAIN*/
main{
    width: 100%;
    height: 82.5vh;
    position: relative;
}

#imagenFondo{
    position: fixed;
    width: 100%;
}

section{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .6));
    overflow: hidden;
    height: 82.6vh;
}

.pink{
    background-color: #fca0a1;
    color: white;
}

#informacion{
    width: 100%;
    padding-top: 60vh;
    padding-left: 50px;
    color: white;
}

.disponible{
    font-size: small;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.skin{
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 19px;
    margin-bottom: 20px;
}

.forMe{
    width: 105px;
    height: 40px;
    text-align: center;
    align-content: center;
    margin-bottom: 1px;
    font-size: 11px;
    letter-spacing: 2px;
}

.carrusel{
    display: flex;
    color: white;
    list-style: circle;
    font-size: large;
    margin-top: 10px;
    position: absolute;
    right: 20px;
}

.carrusel li{
    width: 20px;
}

.carrusel li:last-child{
    list-style: disc;
}

#botones{
    display: flex;
    height: 25px;
}

.club{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 45px;
    border-radius: 25px;
    position: absolute;
    left: 21px;
    bottom: 10px;
}

#gift{
    width: 18px;
    margin-left: 5px;
}

.club p{
    font-size: 14px;
    margin-left: -15px;
}

.mensaje{
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.mensaje img{
    width: 35px;
    height: 35px;
    margin-top: 10px;
}

/*MOBILE*/
@media (max-width: 768px){
    #empresa{
        position: absolute;
        left: 10px;
    }
    #categorias{
        flex-direction: column;
        z-index: 99;
        position: absolute;
        left: 100px;
        top: 50px;
        width: 200px;
        background-color: rgba(255, 255, 255);
        height: 400px;
    }
    .categoria{
        padding-left: 10px;
    }
    .flechaAbajo{
        transform: rotate(0deg) scaleX(.8);
    }
    .opciones{
        border-radius: 0;
        background-color: rgba(255, 255, 255);
        text-align: center;
    }
    #categorias li:hover .opciones{
        top: 10px;
        left: 190px;
    }
    .opciones li:last-child:hover{
        border-radius: 0px;
    }
    section{
        background-image: linear-gradient(rgb(0, 0, 0, .3), rgba(54, 42, 25, 1));
        height: 60%;
    }
    #informacion{
        padding-top: 24vh;
        padding-left: 210px;
    }
    .skin{
        width: 70%;
    }

    .club{
        left: 205px;
        bottom: 20vh;
    }
    .mensaje{
        bottom: 20vh;
    }
}

@media (max-width: 480px){
    #categorias{
        left: -900px;
    }
    #menuIcon{
        display: block;
        position: absolute;
        left: 10px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: none;
        cursor: pointer;
    }
    .menuLine{
        width: 90%;
        height: 3px;
        background-color: #379f90;
        margin: auto;
        border-radius: 2px;
    }
    #menuIcon:focus + #categorias{
        left: 100px;
    }
    #empresa{
        width: 100%;
        justify-content: center;
    }
    .languajeContainer{
        position: absolute;
        z-index: 99;
        right: 0px;
    }
    #informacion{
        padding-left: 15px;
    }
    .carrusel{
        position: static;
        padding-left: 20px;
    }
    #botones{
        z-index: 99;
    }
    .club{
        left: 15px;
    }
}