*{
    margin: 0;
    padding: 0;
}
/*MENÚ*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 8vh;
    background-color: white;
}

#empresa{
    width: 10%;
    display: flex;
}

h2{
    font-size: large;
    font-family: Calibri;
    color: rgb(227, 169, 179);
    margin: 4px;
}

#planet{
    color: #379f90;
}

#categorias{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: Calibri;
    font-weight: 600;
    font-size: 15px;
    margin-left: -100px;
}

.categoria{
    display: flex;
    align-items: center;
    position: relative;
    padding: 14px;
    color: #379f90;
    cursor: pointer;
    height: 10vh;
}

.opciones{
    position: absolute;
    top: -1000vh;
    transition: all 0.5s linear;
    list-style: none;
    width: max-content;
    background-color: white;
    text-align: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#categorias li:hover .opciones{
    top: 70px;
}

.opciones li{
    padding: 10px;
    min-width: 100px;
}

.opciones li:hover{
    background-color: mintcream;
}

.opciones li:last-child:hover{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.flechaAbajo{
    margin-left: 10px;
    transform: rotate(90deg) scaleX(0.8) scaleY(1.3);
    font-weight: bold;

}

.languajeContainer{
    width: 120px;
}

#languaje{
    display: flex;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: lightcoral;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
}

#flag{
    width: 40px;
    height: 17px;
}

select{
    background-color: transparent;
    border: none;
    color: white;
    width: 80px;
}

/*MAIN*/
main{
    width: 100%;
    height: 82.5vh;
    background-image: url("img/sk_fondo.jpg");
    background-size: contain;
    filter: brightness(80%);
}